/* Misc styling */
html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffffff;
  background-size: auto;
	font-family: "Titillium Web", sans-serif;
	-webkit-font-smoothing: antialiased !important;
}

body p i {
	font-size:80px;
}

table {
	width:100%;
  text-align:center;
  padding:5px;
  border: 1px solid black;
  border-collapse: collapse;
	max-width:750px;
	margin-left:auto;
  margin-right:auto;
      }

th    {
	text-align:center;
	font-family: "Titillium Web", sans-serif;
	-webkit-font-smoothing: antialiased !important;
	background-color: #c2e5f0;
	font-size:20px;
      }

td    {
	text-align:center;
  border: 1px solid black;
	border-collapse: collapse;
  padding: 3px;
      }
#breakfast {
  height:200px;
         }

#session {
	background-color: #0E6075;
	color: #FFFF00;
  height:100px;
         }

#lightning {
	background-color: #1CC3EA;
	color: #FFFFFF;
  height:100px;
         }

#open_spaces {
	background-color: #FFFF00;
  height:100px;
	color: #000000;
         }

#social {
	background-color: #6699FF;
  height:500px;
         }
/* Responsive adjustments */

@media (min-width: 768px) and (max-width: 991px) {
#recent {
	background-color: #fcff94;
   }
}
/* End Responsive Adjustments */

/* End Misc styling */

/* original hover effect */
a.fill-div {
	display: block;
	text-decoration: none;
	padding-top: 1px;
	padding-bottom: 1px;
}


/* Header div */
#header {
	background-image: url('../images/Front_Logo.png');
	height: 450px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}

#header h2 {
	text-align: center;
	color: #FCEE21;
	padding-top: 100px;
	font-size: 60px;
	font-family: "Titillium Web", sans-serif;
	position: absolute;
	left: 50px;
	bottom: 10px;
}
#header h3 {
	text-align: right;
	color: #FCEE21;
	padding-top: 100px;
	font-size: 30px;
	font-family: "Titillium Web", sans-serif;
	position: absolute;
	left: 10px;
	bottom: 200px;
}

@media (max-width: 450px) {
	#header {
  background-image: url('../images/Back_Logo.png');
  padding: 1px;
  background-size: 370px;
  background-repeat:no-repeat;
  height: 370px;
	}

	#header h2 {
	text-align: center;
	color: #ee0000;
	font-size: 28px;
	padding-top: 48px;
	position: absolute;
	left: 50px;
	bottom: 10px;
	}
	#header h3 {
	text-align: center;
	color: #ee0000;
	font-size: 18px;
	padding-top: 5px;
	position: absolute;
	left: 50px;
	top: 1px;
	}
}


/* End Header Div */


/* List Div */
li {
	text-align: left;
	 }

/* End List Div */

/* Standard paragraph */
p {
	font-size: 16px;
	padding: 10px;
	 }
/* End paragraph */

/* Main body Div */
#main_body {
	background-color: #ffffff;
	text-align: center;
	position: relative;
	top: -20px;
}
#main_body h2 {
	font-size: 32px;
	font-family: "Titillium Web", sans-serif;
}

#main_body p {
	font_size: 16px;
	font-family: "Titillium Web", sans-serif;
}
/* End of main body Div */


/* Speakers Div */
#speakers {
	background-color: #f20808;
	text-align: center;
  position: relative;
  top: -20px;
  /* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #445359;
  -webkit-box-shadow: 1px 1px 5px 6px #445359;
  box-shadow:         1px 1px 5px 6px #445359;
  /* End shadow outline */
}

#speakers h2 {
	color: #ffffff;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;
}

#speakers p {
	color: #092C36;
	font-weight: 200;
}

#speakers p i {
	font-size: 40px;
}

#speakers a:hover {
  background-color: #FFFF00;
}
/* End Speakers Activity Div */
/* Info Div */
#info {
	background-color: #ffffff;
	text-align: center;
  position: relative;
  top: -20px;
  /* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #445359;
  -webkit-box-shadow: 1px 1px 5px 6px #445359;
  box-shadow:         1px 1px 5px 6px #445359;
  /* End shadow outline */

}

#info h2 {
	color: #EF3224;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;

}

#info p {
	color: #092C36;
	font-weight: 200;


}

#info p i {
	font-size: 40px;

}

#info a:hover {
  background-color: #FFFF00;
}
/* End Info Activity Div */
/* Server Div */

#sponsors {
	background-color: #E2DDD9;
	text-align: center;
  position: relative;
  top: -20px;
  /* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #445359;
  -webkit-box-shadow: 1px 1px 5px 6px #445359;
  box-shadow:         1px 1px 5px 6px #445359;
  /* End shadow outline */
}

#sponsors h2 {
	color: #EF3224;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;

}

#sponsors p {
	color: #0E6075;
	font-weight: 200;

}
#sponsors p i {
	font-size: 40px;
}

#sponsors a:hover {
	background-color: #FFFF00;
}
/* End sponsors Div */
/* Adds Div */

#register {
	background-color: #1CC3EA;
	text-align: center;
  position: relative;
  top: -20px;
  /* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #445359;
  -webkit-box-shadow: 1px 1px 5px 6px #445359;
  box-shadow:         1px 1px 5px 6px #445359;
  /* End shadow outline */
}

#register h2 {
	color: #EF3224;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;

}

#register p {
	color: #051C22;
	font-weight: 200;

}
#register p i {
	font-size: 40px;
}

#register a:hover {
	background-color: #FFFF00;
}
/* End Register Div */

/* Drops Div */

#program {
	background-color: #0E6075;
	text-align: center;
	position: relative;
  top: -20px;
  /* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #1e2528;
  -webkit-box-shadow: 1px 1px 5px 6px #1e2528;
  box-shadow:         1px 1px 5px 6px #1e2528;
  /* End shadow outline */
}

#program h2 {
	color: #EF3224;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;

}

#program p {
	color: #ffffff;
	font-weight: 200;
}

#program p i {
	font-size: 40px;
}

#program a:hover {
	background-color: #FFFF00;
}
/* End Program Div */

/* Contact Div */

#contact {
	background-color: #092C36;
	text-align: center;
	position: relative;
  top: -20px;
  /* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #222;
  -webkit-box-shadow: 1px 1px 5px 6px #222;
  box-shadow:         1px 1px 5px 6px #222;
  /* End shadow outline */
}

#contact h2 {
	color: #EF3224;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;

}

#contact p {
	color: #ffffff;
	font-weight: 200;

}
#contact p i {
	font-size: 40px;
}

#contact a:hover {
	background-color: #FFFF00;
}
/* End Contact Div */

/* Back button Div */
#back {
	background-color: #c2e5f0;
	text-align: center;
  position: relative;
  top: -20px;
  /* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #445359;
  -webkit-box-shadow: 1px 1px 5px 6px #445359;
  box-shadow:         1px 1px 5px 6px #445359;
  /* End shadow outline */

}

#back h2 {
	color: #0083B1;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;

}

#back p {
	color: #ffffff;
	font-weight: 200;


}

#back p i {
	font-size: 40px;

}

#back a:hover {
  background-color: #df3220;
}
/* End Back button Div */

/* Data Body Div */
#conduct {
	background-color: #ffffff;
	text-align: center;
  position: relative;
  top: -39px;
  height: auto;
	/* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #445359;
  -webkit-box-shadow: 1px 1px 5px 6px #445359;
  box-shadow:         1px 1px 5px 6px #445359;
  /* End shadow outline */

}

#conduct h2 {
	color: #000000;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;
	color: #EF3224;
}

#conduct p {
	color: #000000;
	font-weight: 200;
}

#conduct p i {
	font-size: 40px;
}

#conduct a:hover {
  background-color: #FFFF00;
}
/* End Conduct Div */

/* Data Chatops Div */
#chatops {
	background-color: #c2e5f0;
	text-align: center;
  position: relative;
  top: -39px;
  height: auto;
	/* shadow outline */
	-moz-box-shadow:    1px 1px 5px 6px #445359;
  -webkit-box-shadow: 1px 1px 5px 6px #445359;
  box-shadow:         1px 1px 5px 6px #445359;
  /* End shadow outline */

}

#chatops h2 {
	color: #000000;
	font-weight: 400;
	font-family: "Titillium Web", sans-serif;
	color: #EF3224;
}

#chatops p {
	color: #000000;
	font-weight: 200;
}

#chatops p i {
	font-size: 40px;
}

#chatops a:hover {
  background-color: #FFFF00;
}
/* End ChatOps Div */

/* Custom sponsor headers */
#salesforce_header {
	background-image: url('../sponsors/images/salesforce_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	/*max-width:750px;
	margin-left:auto;
	margin-right:auto; */
}
#salesforce_small_image {
	background-image: url('../sponsors/images/salesforce_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -10px;
}

#salesforce_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#victorops_header {
	background-image: url('../sponsors/images/victorops_large_2.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	max-width:450px;
	margin-left:auto;
	margin-right:auto;
}
#victorops_small_image {
	background-image: url('../sponsors/images/VO_Horizontal.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50%;
	background-attachment: relative;
	background-position: center center;
  position: relative;

}
#victorops_small_image p {
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}

#fortrust_header {
	background-image: url('../sponsors/images/fortrust_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	max-width:450px;
	margin-left:auto;
	margin-right:auto;
}
#fortrust_header_2 {
	background-image: url('../sponsors/images/fortrust_large_2.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	max-width:450px;
	margin-left:auto;
	margin-right:auto;
}
#fortrust_small_image {
	background-image: url('../sponsors/images/fortrust_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50%;
	background-attachment: relative;
	background-position: center center;
  position: relative;

}
#fortrust_small_image p {
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#go_header {
	background-image: url('../sponsors/images/go_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	max-width:450px;
	margin-left:auto;
	margin-right:auto;
}

#go_small_image {
	background-image: url('../sponsors/images/go_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
}

#go_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#shutterstock_header {
	background-image: url('../sponsors/images/shutterstock_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	/*max-width:450px;
	margin-left:auto;
	margin-right:auto;*/
}

#shutterstock_small_image {
	background-image: url('../sponsors/images/shutterstock_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;

}
#shutterstock_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#delphix_header {
	background-image: url('../sponsors/images/delphix_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}
#delphix_small_image {
	background-image: url('../sponsors/images/delphix_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -50px;
}

#delphix_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#trackvia_header {
	background-image: url('../sponsors/images/trackvia_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}
#trackvia_small_image {
	background-image: url('../sponsors/images/trackvia_large.png');
	height: 135px;
	-webkit-background-size: 50%;
	-moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -10px;
}

#trackvia_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}

#pagerduty_header {
	background-image: url('../sponsors/images/pagerduty_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}

#pagerduty_small_image {
	background-image: url('../sponsors/images/pagerduty_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -10px;
}

#pagerduty_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}

#oreilly_header {
	background-image: url('../sponsors/images/oreilly_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
	position: relative;
  top: -10px;
	max-width:750px;
	margin-left:auto;
	margin-right:auto;
}

#oreilly_small_image {
	background-image: url('../sponsors/images/oreilly_large.png');
	height: 235px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100px;
	background-attachment: absolute;
	background-position: center center;
  position: relative;
}

#oreilly_small_image p{
	position: relative;
  right: -10px;
	bottom: 50px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}

#sonatype_header {
	background-image: url('../sponsors/images/sonatype_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	/*max-width:750px;
	margin-left:auto;
	margin-right:auto; */
}
#sonatype_small_image {
	background-image: url('../sponsors/images/sonatype_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -10px;
}

#sonatype_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}

#chef_header {
	background-image: url('../sponsors/images/chef_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
}
#chef_small_image {
	background-image: url('../sponsors/images/chef_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -10px;
}

#chef_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#craftsy_header {
	background-image: url('../sponsors/images/craftsy_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	max-width:750px;
	margin-left:auto;
	margin-right:auto;
}
#craftsy_small_image {
	background-image: url('../sponsors/images/craftsy_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -10px;
}

#craftsy_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}

#rancher_header {
	background-image: url('../sponsors/images/rancher_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
}

#rancher_small_image {
	background-image: url('../sponsors/images/rancher_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -10px;
}

#rancher_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
	margin-left:30px;
}

#scout_header {
	background-image: url('../sponsors/images/scout_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}
#scout_small_image {
	background-image: url('../sponsors/images/scout_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -50px;
}

#scout_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}

#sdl_header {
	background-image: url('../sponsors/images/SDL_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}
#sdl_small_image {
	background-image: url('../sponsors/images/SDL_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -50px;
}

#sdl_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}

#newrelic_header {
	background-image: url('../sponsors/images/newrelic_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}
#newrelic_small_image {
	background-image: url('../sponsors/images/newrelic_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -50px;
}

#newrelic_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#qwinix_header {
	background-image: url('../sponsors/images/qwinix_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}
#qwinix_small_image {
	background-image: url('../sponsors/images/qwinix_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -50px;
}

#qwinix_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#appliedtrust_header {
	background-image: url('../sponsors/images/appliedtrust_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}
#appliedtrust_small_image {
	background-image: url('../sponsors/images/appliedtrust_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -50px;
}

#appliedtrust_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
#rt_header {
	background-image: url('../sponsors/images/releaseTeam_large.png');
	height: 350px;
	-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
  top: -10px;
}
#rt_small_image {
	background-image: url('../sponsors/images/releaseTeam_large.png');
	height: 135px;
	-webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 33%;
	background-attachment: relative;
	background-position: center center;
  position: relative;
	text-align: -50px;
}

#rt_small_image p{
	position: relative;
  right: -10px;
	bottom: -60px;
	text-decoration: none;
	text-align: right;
	color: #000000;
	visibility: hidden;
}
/* End Custom Sponsor headers */
